<li class="gem">
  <a class="cover" href="/shards/<%= HTML.escape(@shard.full_name) %>" aria-hidden="true" tabindex="-1"></a>
  <div class="gem-body">
    <div class="gem-title">
      <a href="/shards/<%= HTML.escape(@shard.full_name) %>"><%= HTML.escape(@shard.name) %></a>
      <span class="gem-path"><%= HTML.escape(@shard.full_name) %></span>
    </div>
    <p class="gem-desc"><%= HTML.escape(@shard.description.empty? ? "No description." : @shard.description) %></p>
    <div class="gem-meta">
      <a class="chip" href="/category/<%= @shard.category %>"><%= category_title(@shard.category) %></a>
    </div>
  </div>
  <div class="gem-side">
    <% if !@shard.version.empty? %><span class="gem-ver"><%= HTML.escape(@shard.version) %></span><% end %>
    <span class="gem-stars" title="Stars">
      <svg viewBox="0 0 16 16" width="15" height="15" aria-hidden="true"><path fill="currentColor" d="M8 0l2.47 5.01 5.53.8-4 3.9.94 5.5L8 12.52l-4.94 2.69L4 9.7 0 5.81l5.53-.8L8 0z"/></svg>
      <%= @shard.stars %>
    </span>
    <span class="gem-date <%= @shard.status_css %>" title="Last push"><%= @shard.pushed_fmt %></span>
  </div>
</li>
