<nav class="crumbs"><a href="/">Home</a> <span>/</span> <a href="/categories">Categories</a> <span>/</span> <%= @title %></nav>
<div class="section-head">
  <h1><%= @title %></h1>
  <span class="meta-dim"><%= @shards.size %> shards</span>
</div>
<ul class="gem-list">
  <% @shards.each do |s| %><%= Render.row(s) %><% end %>
</ul>
